@font-face {
    font-family: 'Font-1';
    src: url('assets/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
}

@font-face {
    font-family: 'Font-2';
    src: url('assets/fonts/changa_one/ChangaOne-Regular.ttf');
}

.font-family-1 {
    font-family: 'font-1', Verdana, Geneva, Tahoma, sans-serif;
}

.font-family-2 {
    font-family: 'font-2', Verdana, Geneva, Tahoma, sans-serif;
}

/* Reset all styles of html elements */
li {
    list-style: none;
}

ul {
    all: unset;
}

ol {
    all: unset;
}

a {
    color: unset;
    text-decoration: none;
}

figure {
    margin: 0px;
}

body {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-size: unset;
    font-weight: unset;
}

input,
input:focus,
select,
textarea,
button {
    border: none;
    width: 260px;
}

th {
    text-align: inherit;
}

/* End reset all styles of html elements */

.bg-yellow {
    background-color: #f7da17;
}

.bg-orange-yellow {
    background-color: #ffc107;
}

.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.bg-dark-gray {
    background-color: #151515;
}

.text-normal {
    font-size: 0.9em;
}

.text-xl {
    font-size: large;
}

.text-2xl {
    font-size: 1.5em;
}

.text-3xl {
    font-size: 2em;
}

.text-4xl {
    font-size: 3em;
}

.text-5xl {
    font-size: 4em;
}

.placeholder\:text-2xl::placeholder {
    font-size: 1.5em;
}

.font-bolder {
    font-weight: bolder;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: 450;
}

.placeholder\:font-semilight::placeholder {
    font-weight: lighter;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: small;
}

.italic {
    font-style: italic;
}

.p-5 {
    padding: 10px;
}

.p-10 {
    padding: 20px;
}

.p-20 {
    padding: 40px;
}

.p-30 {
    padding: 60px;
}

.py-25 {
    padding-top: 50px;
}

.py-15 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-10 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-5 {
    padding-top: 10px;
    padding-bottom: 10px;
}


.py-7 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.py-65 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.py-110 {
    padding-top: 220px;
    padding-bottom: 220px;
}

.py-50 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-30 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.py-20 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.px-20 {
    padding-left: 40px;
    padding-right: 40px;
}

.px-10 {
    padding-left: 20px;
    padding-right: 20px;
}


.pt-25 {
    padding-top: 50px;
}

.pt-15 {
    padding-top: 30px;
}

.pt-10 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 10px;
}

.pt-30 {
    padding-top: 60px;
}

.pb-33 {
    padding-bottom: 33px;
}

.pb-20 {
    padding-bottom: 40px;
}

.pb-70 {
    padding-bottom: 140px;
}

.pb-200 {
    padding-bottom: 200px;
}




.pl-20 {
    padding-left: 40px;
}

.pl-10 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 10px;
}

.pl-50 {
    padding-left: 100px;
}


/* For text very small */
.text-ssm {
    font-size: 0.75em;
}

.text-sm {
    font-size: 0.85em;
}

.w-container {
    width: 1200px;
}

.w-full {
    width: 100%;
}

.w-1020 {
    width: 990px;
}

.w-850 {
    width: 800px;
}

.w-260 {
    width: 260px;
}

.w-520 {
    width: 520px;
}

.w-480 {
    width: 480px;
}

.w-360 {
    width: 360px;
}

.w-540 {
    width: 665px;
}

.w-430 {
    width: 430px;
}

.w-350 {
    width: 350px;
}

.w-320 {
    width: 320px;
}

.w-25 {
    width: 25px;
}


.w-3\/5 {
    width: 60%;
}

.w-2\/3 {
    width: 66.666%;
}

.flex-2\/3 {
    width: 60.66%;
}

.w-2\/5 {
    width: 40%;
}

.h-auto {
    height: auto;
}

.h-500 {
    height: 500px;
}

.h-410 {
    height: 410px;
}

.h-320 {
    height: 320px;
}

.h-290 {
    height: 290px;
}

.h-200 {
    height: 200px;
}

.border {
    border: solid black 1px;
}

.border-gray-2 {
    border: solid #CCCCCC 2px;
}

.border-t-yellow-7\.5 {
    border-top: solid #f7da17 15px;
}

.border-t-light-gray-1 {
    border-top: solid #CCCCCC 1px;
}

.border-r-light-gray-1 {
    border-right: solid #CCCCCC 1px;
}

.border-l-light-gray-1 {
    border-left: solid #CCCCCC 1px;
}

.border-b-light-gray-1 {
    border-bottom: solid #CCCCCC 1px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-end {
    align-items: end;
}

items-baseline {
    align-items: baseline;
}

.items-center {
    align-items: center;
}


.text-gray {
    color: #505050;
}

.space-x-10>* {
    margin-right: 20px;
    /* margin-right: 20px; */
}

.space-x-15>* {
    margin-right: 30px;
}

.space-x-30>* {
    margin-right: 60px;
}

.space-y-18>* {
    margin-bottom: 40px;
}

.space-y-15>* {
    margin-bottom: 30px;
}

.space-y-10>* {
    margin-bottom: 20px;
}

.space-y-8>* {
    margin-bottom: 14px;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.bg-image-banner-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/images/banner-bg-1.jpg');
    background-repeat: round;
}

.bg-image-service {
    background-image: url('./assets/images/services-bg.jpg');
    background-repeat: repeat-x;
    /* background-size: contain; */
}

.bg-position-5\/4 {
    background-position-y: 125%;
}

.bg-image-contact {
    background-image: url('./assets/images/contact-bg-img.jpg');
    /* background-repeat: space; */
    background-size: cover;
}

.text-white {
    color: whitesmoke;
}

.text-yellow {
    color: #f7da17;
}

.text-dark-gray {
    color: #505050;
}

.text-dark {
    color: #000000;
}

.leading-3 {
    line-height: 2.2rem;
}

.hover\:border-orange-yellow:hover {
    border: #ffc107 solid 2px;
}

.hover\:border-gray:hover {
    border: #505050 solid 2px;
}

.hover\:bg-black:hover {
    background-color: #000000;
}

.hover\:text-white:hover {
    color: #ffffff;
}

.hover\:text-gray:hover {
    color: #505050;
}

.hover\:border-yellow:hover {
    border: #f7da17 solid 2px;
}

.hover\:border-white:hover {
    border: #ffffff solid 2px;
}

.hover\:bg-transparent:hover {
    background-color: rgba(0, 0, 0, 0);
}

.transition {
    transition-property: all;
    transition-duration: 0.3s;
}

.rounded-sm {
    border-radius: 5px;
}

.list-style-trait > li {
    list-style: disc;
}

.list-style-decimal > li {
    list-style: decimal;
}

.relative {
    position: relative;
}

.top-12 {
    top: 24px;
}

/* Table styles */
.border-collapse {
    border-collapse: collapse;
}

/* End table style */