@font-face {
    font-family: 'Font-1';
    src: url('assets/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf');
}

@font-face {
    font-family: 'Font-2';
    src: url('assets/fonts/changa_one/ChangaOne-Regular.ttf');
}

.font-family-1 {
    font-family: 'font-1' ,Verdana, Geneva, Tahoma, sans-serif;
}

.font-family-2 {
    font-family: 'font-2' ,Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

.bg-yellow {
    background-color: #f7da17;
}

.bg-white {
    background-color: #ffffff;
}

.text-normal {
    font-size: 0.9em;
}

.text-xl {
    font-size: large;
}

.text-2xl {
    font-size: 1.5em;
}

.text-3xl {
    font-size: 2em;
}



.text-5xl {
    font-size: 4em;
}

.font-bolder {
    font-weight: bolder;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: 450;
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: small;
}

.py-15 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pl-10 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 10px;
}

.pl-50 {
    padding-left: 100px;
}

.italic {
    font-style: italic;
}

.p-5 {
    padding: 10px;
}

.p-10 {
    padding: 20px;
}

.pt-25 {
    padding-top: 50px;
}

.pt-15 {
    padding-top: 30px;
}

.pt-10 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 10px;
}

.py-7 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.py-65 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.py-110 {
    padding-top: 220px;
    padding-bottom: 220px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.px-20 {
    padding-left: 40px;
    padding-right: 40px;
}

.px-10 {
    padding-left: 20px;
    padding-right: 20px;
}

/* For text very small */
.text-ssm {
    font-size: 0.75em;
}

.w-container {
    width: 1200px;
}

.w-850 {
    width: 800px;
}

.w-350 {
    width: 350px;
}

.h-290 {
    height: 290px;
}

.border {
    border: solid black 1px;
}

.border-t-yellow-7\.5 {
    border-top: solid #f7da17 15px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-evenly;
}

.align-end {
    align-items: end;
}

.items-center {
    align-items: center;
}

.text-gray {
    color: #505050;
}

.space-x-10 > * {
    margin-left: 20px;
    /* margin-right: 20px; */
}

.space-x-15 > * {
    margin-left: 30px;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.bg-image-banner-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/images/banner-bg-1.jpg');
    background-repeat: round;
}

.bg-image-service {
    background-image: url('./assets/images/services-bg.jpg');
    background-repeat: repeat-x;
}

.text-white {
    color: whitesmoke;
}

.text-yellow {
    color: #f7da17;
}

.leading-3 {
    line-height: 2.2rem;
}

.hover\:bg-black:hover {
    background-color: #000000;
}

.hover\:text-white:hover {
    color: #ffffff;
}

.hover\:border-yellow:hover {
    border: #f7da17 solid 2px;
}

.hover\:border-white:hover {
    border: #ffffff solid 2px;
}

.hover\:bg-transparent:hover {
    background-color: rgba(0, 0, 0, 0);
}

.transition {
    transition-property: all;
    transition-duration: 0.3s;
}

.rounded-sm {
    border-radius: 5px;
}

.list-style-trait > li {
    list-style: disc;
}